.h1 {
    color: red;
    font-family: Calibri, Arial, sans serif;
}
.test {
    color: green;
    font-size: 20pt;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.content-text {
    text-align: justify;
}

.first_line {
    margin-top:79px;
}
