{% extends "folium_map0/base.html" %}
{% block folium_map0 %}active{% endblock %}
{% block content %}

<title>Map folium</title>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
	* {
	  box-sizing: border-box;
	}
	.WebContainer{
    width: 100%;
    height: auto;
}
	.articles{
	    width:90%; /*Takes 90% width from WebContainer*/
	    height: auto;
	    margin: auto;
	}

	#rcorners1 {
	  border-radius: 25px;
	  background: #73AD21;
	  /*padding: 20px;
	  width: 200px;
	  height: 150px;*/
	}

	.picture_size {
		height: 43px;
		width: 43px;
	}
  </style>

<div class='WebContainer articles' style="margin-top:79px;">

	<div class="row">
		<div class="column" style="background-color:#bbb;">  <!-- style="background-color:#aaa;" -->
			{{ my_map|safe }}
		</div>
		<div class="column" style="background-color:;">  <!-- style="background-color:#bbb;" -->
			<div class="container">
				<h1>Height Utilities</h1>
				<p>Set the height of an element with the w-* classes:</p>
				<div style="height:200px;background-color:">
				    <div class="mh-100 d-inline-block p-2" style="height:500px;width:49%;border-radius: 25px;background: #73AD21;">
				    	<div style="padding: 20px;">
				    	{% for i in lights %}
							{% if i.month_int ==  now_month and i.day_int == now_day %}
								<b>{{ i.month_str }} {{ i.day_int }}</b>
								<p>Sunrise: {{ i.sunrise }}
								{% for i in img_lights %}
									{% if i.title == "sunrise_color" %}
									    <img src="{{ i.img_file.url }}" class="picture_size">
									{% endif %}
								{% endfor %}
								</p>
								<p>True Moon: {{ i.true_noon }}
								{% for i in img_lights %}
									{% if i.id_img == 3 %}
									<img src="{{ i.img_file.url }}" class="picture_size">
									{% endif %}
								{% endfor %}
								</p>
								<p>Sunset: {{ i.sunet }}
								{% for i in img_lights %}
									{% if i.title == "sunset_color" %}
									<img src="{{ i.img_file.url }}" class="picture_size">
									{% endif %}
								{% endfor %}
								</p>
								<p>Daylight_hours: {{ i.daylight_hours }}</p>
								<p>Now: {{ now_hour }}: {{ now_min }}</p>
							{% endif %}
						{% endfor %}
						</div>
				    </div>
				    <div class="mh-100 d-inline-block p-2 bg-warning" style="height:500px;width:50%;border-radius: 25px;">
				    </div>
				 </div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
